@model List<BuildService.Web.ViewModels.ConstructionWorks.ConstructionWorkViewModel>

@{
    ViewData["Title"] = "AddWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddWorks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Цена
            </th>
            <th>
                Мярка
            </th>
            <th>
                Количество
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionCategoryName)
            </td>        
            <td>
                <a asp-action="Edit" asp-route="@item.Title">Edit</a> |
                <a asp-action="Details" asp-route="@item.Title">Details</a> |
                <a asp-action="Delete" asp-route="@item.Title">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
