@model IEnumerable<BuildService.Web.ViewModels.Assessments.AssessmentViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>ОГЛЕДИ</h1>
    <p>
        <a class="btn btn-info btn-lg m-3" href="~/Assessments/Create" role="button">Добави оглед</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Оглед №</th>
            <th scope="col">Дата</th>
            <th scope="col">Адрес</th>
            <th scope="col">Клиент</th>
            <th scope="col">Имейл</th>
            <th scope="col">Телефон</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td scope="col" class="counterCell"></td>
            <td>
                @item.Number
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitedOn, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialClient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialClient.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialClient.Phone)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
        }
    </tbody>
</table>
